@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">

    <title>Untitled Document</title>
    <link href="~/Content/Course.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        html, body {
            margin: 0px;
            height: 100%;
        }
    </style>
</head>
<body class="body">
    <div class="head20">
        <p class="FONT1"> OOAD</p>
        <img src="~/Content/Course/九点.png" class="IMG" />
    </div>

    <div class="unfinished">
        <text class="FONT2">讨论课6</text>
        <text class="FONT4-1">11月6日-11月12日</text>
        <text class="FONT4-2">固定分组</text>
        <text class="FONT4-3">成绩：未完成</text>
    </div>

    <div class="finished">
        <text class="FONT2">讨论课5</text>
        <text class="FONT4-1">10月30日-11月5日</text>
        <text class="FONT4-2">随机分组</text>
        <text class="FONT4-3">成绩:5</text>
    </div>

    <div class="finished">
        <text class="FONT2">讨论课4</text>
        <text class="FONT4-1">10月23日-10月29日</text>
        <text class="FONT4-2">固定分组</text>
        <text class="FONT4-3">成绩:4</text>
    </div>

    <div class="finished">
        <text class="FONT2">讨论课3</text>
        <text class="FONT4-1">10月16日-10月22日</text>
        <text class="FONT4-2">随机分组</text>
        <text class="FONT4-3">成绩:5</text>
    </div>

    <div class="finished">
        <text class="FONT2">讨论课2</text>
        <text class="FONT4-1">10月8日-10月15日</text>
        <text class="FONT4-2">固定分组</text>
        <text class="FONT4-3">成绩:2</text>
    </div>

    <div class="finished">
        <text class="FONT2">讨论课1</text>
        <text class="FONT4-1">9月30日-10月7日</text>
        <text class="FONT4-2">随机分组</text>
        <text class="FONT4-3">成绩:1</text>
    </div>

</body>
</html>
