@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">

    <title>Untitled Document</title>
    <link href="~/Content/CourseInfo.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>html, body {margin:0px; height:100%;}</style>
</head>
<body class="body">
    <div class="head20">
        <p class="FONT1"> OOAD</p>
    </div>
    <div class="CONTAIN">
        <img src="~/Content/CourseInfo/人物头像.png" class="IMG1"/>
        <text class="FONT3" style="margin-top: 10%">老师：邱明</text>
    </div>
    <div class="CONTAIN">
        <img src="~/Content/CourseInfo/邮箱.png" class="IMG1" />
        <text class="FONT3"> 邮箱：qiuming@gmail.com</text>
    </div>
    <div class="CONTAIN">
        <img src="~/Content/CourseInfo/简介.png" class="IMG1" />
        <text class="FONT3"> 简介：</text>
    </div>
</body>
</html>

